<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Meus Favoritos</title>
  </head>
  <body>

    <div id="app" class="container">
    <h1 class="well" style="text-align: center">Lista de Favoritos</h1>
    <form class="form-horizontal">
          <div class="form-group">
            <label>Pagina</label>
            <input type="text" class="form-control" v-model="campos.pagina" placeholder="Nome Da Pagina" autofocus="">
          </div>
          <div class="form-group">
            <label>URL</label>
            <input type="url" v-model="campos.url" class="form-control" placeholder="Url da Pagina" >
          </div>
          <button type="submit" class="btn btn-default" v-if="validarCampos" @click.prevent = "adicionarFavorito">Cadastrar Favorito</button>
      </form>
      <hr>
      <table class="table table-bordered table-collapsed table-hover">
        <thead>
            <tr>
              <td>Pagina</td>
              <td colspan="2">Url</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="favorito in favoritos">
              <td>{{ favorito.novaPagina }}</td>
              <td><a :href="favorito.url" target="_blank" >{{ favorito.url }}</a></td>
              <td><button type="button" class="btn btn-danger" @click="removerFavorito(favorito)">
                <i class="glyphicon glyphicon-trash"></i> Remover</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script src="js/vue.js"></script>
  <script type="text/javascript">
      
      var app = new Vue({
        
        el: '#app',

        data: {

            campos : {
                pagina : '',
                url : ''
            },

            favoritos: []
        },

        methods: {

            adicionarFavorito: function(){
                this.favoritos.push({novaPagina: this.campos.pagina, url: this.campos.url});
                this.limparCampos(this.campos);
            },

            removerFavorito: function(item){
                this.favoritos = this.favoritos.filter(function(campo){
                    return item != campo ? true : false;
                });
            },

            limparCampos: function(campos){
                campos.pagina = '',
                campos.url = ''
            }
        },

        computed: {
          validarCampos: function () {
            return this.campos.pagina !== '' && this.campos.url !== '';
          }
        },

      });
  </script>
</html>
